---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Masa - Hindu Calendar App</title>
  </head>
  <body>
    <main class="h-full flex flex-col items-center justify-center mb-4">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="font-serif text-5xl sm:text-6xl md:text-7xl mt-4">Masa</h1>
        <span class="text-gray-600 text-xl"> Hindu Calendar App </span>
        <div class="relative w-full max-w-[320px] mx-auto my-2">
          <img
            src="/phone_screenshot.png"
            alt="Masa App Screenshot"
            class="w-full h-auto"
          />
        </div>
        <p class="text-gray-600 text-sm">
          Made by <a href="https://github.com/ramko9999" class="underline"
            >Ramki Pitchala</a
          > & <a href="https://github.com/rohanshiva" class="underline"
            >Rohan Shiva</a
          >
        </p>
        <p class="text-gray-600 text-xs mt-2">
          <a href="https://github.com/ramko9999/Masa" class="underline"
            >Source Code</a
          >
        </p>
      </div>
    </main>
  </body>
</html>
